{% extends 'base.html' %}
{% load static from staticfiles %}
{% load thumbnail %}
{% block content %}
    <div class="breadcrumbs-v3"
         style="background: url({{ services.first.bannertop|thumbnail_url:'banner' }}) no-repeat;background-size: cover;
                 background-position: center center;">
        <div class="container text-center">
            <h1>Our services</h1>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
              <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->

    <div id="Services" class="container text-center g-heading-v7 g-mb-65">
        <h2 class="h2"><em class="block-name">Services</em> What we do</h2>

        <div class="row">
            {% for ser in services %}
                <div data-wow-duration="1.75s" data-wow-offset="20"
                     class="col-md-3 col-sm-6 g-mb-30 wow fadeInUp animated"
                     style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInUp;">
                    <i class="icon-custom icon-3lg rounded-x icon-color-u icon-border-v3 icon-line {{ ser.icon }} g-mb-25"><span></span></i>
                    <a href="{% url 'service-single' ser.slug %}"><h4 class="g-mb-15">{{ ser.name }}</h4></a>
                    {{ ser.resumen }}
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="clearfix margin-bottom-20">
        <hr>
    </div>
    {% include 'componentes/partners.html' %}
    {% include 'componentes/newsletter.html' %}
{% endblock %}